<h3>FetchWells</h3>
@page "/fetchwells"
@inject WellService WellService

<h3>Well List</h3>

@if (wells == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var well in wells)
        {
            <li>
                <input type="checkbox" @onchange="() => ToggleSelection(well.Id)"> @well.Name 
            </li>
        }
    </ul>
}

<h3>Selected Well IDs</h3>

@if (selectedWellIds.Count == 0)
{
    <p>No wells selected.</p>
}
else
{
    <ul>
        @foreach (var id in selectedWellIds)
        {
            <li>@id</li>
        }
    </ul>
}

@code {
    private List<Well> wells;
    private HashSet<string> selectedWellIds = new HashSet<string>();

    protected override async Task OnInitializedAsync()
    {
        wells = await WellService.GetWellsAsync();
    }

    private void ToggleSelection(string id)
    {
        if (selectedWellIds.Contains(id))
        {
            selectedWellIds.Remove(id);
        }
        else
        {
            selectedWellIds.Add(id);
        }
    }
}

